@model CanvasLMS.Models.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutNone.cshtml";
}

<main class="vh-100" style="background-image: url(@Url.Content("~/assets/images/HomeBackground.jpg"));background-position:center">
    <div>
        <img class="p-4" src="@Url.Content("~/assets/images/logo-white.png")" />
    </div>
    <div class="h-75 d-flex align-items-center justify-content-center">
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 bg-white p-5">
            <h3 class="mb-3">Sign In</h3>
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-outline mb-3">
                    @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control mb-3" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-outline mb-4 ">
                    @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control mb-3" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                @* Display validation errors at the top of the form *@
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="d-flex justify-content-end">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary me-3">Back</a>
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            }
        </div>
    </div>
</main>
